<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Astro + Tauri App</title>
</head>
<style>
    @tailwind base;
    @tailwind components;
    @tailwind utilities;
</style>
<body>
    <h1 className="p-5 text-center">Astro</h1>
</body>
</html>